* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero__section-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    object-fit: contain;
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.2);
}

.hero__section-text {
    position: absolute;
    height: 55vh;
    width: 510px;
    top: 15%;
    left: 8%;
    /*background-color: white;*/
}

.hero__section-text > h1 {
    font-size: 90px;
    letter-spacing: 2px;
    color: #8ae888;
    height: 155px;
    width: 520px;
    /*background-color: white;*/
}

.hero__section-text > p {
    color: #8ae888;
    font-size: 20px;
    margin: 20px 0;
    height: 3vh;
    width: 360px;
    line-height: 20px;
    /*background-color: white;*/
}

.hero__section-button {
    display: flex;
    justify-content: space-between;
    width: 265px;
    /*background-color: #242424;*/
}

                                    /*
    ======================================================================================================
                                           MEDIA QUERIES
                                                        */
